
    <button type="button" class="service-cat-card" [ngClass]="gradientClass" (click)="selected.emit(category)">
      <div class="service-cat-card__icon">
        <ion-icon [name]="iconName"></ion-icon>
      </div>
      <div class="service-cat-card__name">{{ category }}</div>
      <div class="service-cat-card__desc">{{ description }}</div>
      <div class="service-cat-card__count">{{ count }} services</div>
      <div class="service-cat-card__arrow" aria-hidden="true">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </button>
  