
    <div class="empty-state">
      <div class="empty-state__icon">
        <ion-icon [name]="icon"></ion-icon>
      </div>
      <h3 class="empty-state__title">{{ title }}</h3>
      <p class="empty-state__description">{{ description }}</p>
      <button
        *ngIf="ctaLabel && ctaRoute"
        type="button"
        class="btn-primary"
        [routerLink]="ctaRoute"
      >
        {{ ctaLabel }}
      </button>
      <button *ngIf="ctaLabel && !ctaRoute" type="button" class="btn-primary" (click)="ctaClick.emit()">
        {{ ctaLabel }}
      </button>
    </div>
  