
    <section class="page-shell">
      <div class="page-shell__header">
        <div>
          <h2 class="page-title">My Profile</h2>
          <p class="page-subtitle">Keep your patient details up to date.</p>
        </div>
      </div>

      <div class="banner banner--warning" *ngIf="loadError || !currentPatient">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>
          {{ loadError || 'We could not match this account to a patient record yet. Saving requires a linked patient record.' }}
        </span>
      </div>

      <div class="profile-grid">
        <div class="profile-grid__main">
          <form class="clinic-card profile-card" [formGroup]="profileForm" (ngSubmit)="saveProfile()" novalidate>
          <div class="section-heading">Personal Information</div>
          <div class="profile-grid__fields">
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">First Name</ion-label>
              <ion-input formControlName="firstName" name="firstName" autocomplete="given-name"></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Middle Name</ion-label>
              <ion-input
                formControlName="middleName"
                name="middleName"
                autocomplete="additional-name"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Last Name</ion-label>
              <ion-input formControlName="lastName" name="lastName" autocomplete="family-name"></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Birthdate</ion-label>
              <ion-input
                type="date"
                formControlName="dateOfBirth"
                name="dateOfBirth"
                autocomplete="bday"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Sex</ion-label>
              <ion-select formControlName="sex" name="sex">
                <ion-select-option value="Male">Male</ion-select-option>
                <ion-select-option value="Female">Female</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Civil Status</ion-label>
              <ion-select formControlName="civilStatus" name="civilStatus">
                <ion-select-option value="">Not specified</ion-select-option>
                <ion-select-option value="Single">Single</ion-select-option>
                <ion-select-option value="Married">Married</ion-select-option>
                <ion-select-option value="Separated">Separated</ion-select-option>
                <ion-select-option value="Widowed">Widowed</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Blood Type</ion-label>
              <ion-select formControlName="bloodType" name="bloodType">
                <ion-select-option value="">Not specified</ion-select-option>
                <ion-select-option value="A+">A+</ion-select-option>
                <ion-select-option value="A-">A-</ion-select-option>
                <ion-select-option value="B+">B+</ion-select-option>
                <ion-select-option value="B-">B-</ion-select-option>
                <ion-select-option value="AB+">AB+</ion-select-option>
                <ion-select-option value="AB-">AB-</ion-select-option>
                <ion-select-option value="O+">O+</ion-select-option>
                <ion-select-option value="O-">O-</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Contact Number</ion-label>
              <ion-input
                formControlName="contactNumber"
                name="contactNumber"
                autocomplete="tel"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                formControlName="email"
                name="email"
                autocomplete="email"
                [readonly]="true"
              ></ion-input>
            </ion-item>
          </div>

          <div class="section-heading">Address</div>
          <div class="profile-grid__fields">
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Address</ion-label>
              <ion-input
                formControlName="address"
                name="address"
                autocomplete="street-address"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">City</ion-label>
              <ion-input
                formControlName="city"
                name="city"
                autocomplete="address-level2"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Zip Code</ion-label>
              <ion-input
                formControlName="zipCode"
                name="zipCode"
                autocomplete="postal-code"
              ></ion-input>
            </ion-item>
          </div>

          <div class="section-heading">Emergency Contact</div>
          <div class="profile-grid__fields">
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Name</ion-label>
              <ion-input formControlName="emergencyContactName" name="emergencyContactName"></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Relationship</ion-label>
              <ion-input
                formControlName="emergencyContactRelationship"
                name="emergencyContactRelationship"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Contact Number</ion-label>
              <ion-input
                formControlName="emergencyContactNumber"
                name="emergencyContactNumber"
                autocomplete="tel"
              ></ion-input>
            </ion-item>
          </div>

          <div class="section-heading">HMO / PhilHealth</div>
          <div class="profile-grid__fields">
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">HMO Provider</ion-label>
              <ion-input formControlName="hmoProvider" name="hmoProvider"></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">HMO Number</ion-label>
              <ion-input formControlName="hmoCardNumber" name="hmoCardNumber"></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">PhilHealth Number</ion-label>
              <ion-input formControlName="philHealthNumber" name="philHealthNumber"></ion-input>
            </ion-item>
          </div>

          <div class="profile-actions">
            <ion-button
              type="submit"
              expand="block"
              color="primary"
              [disabled]="isLoadingProfile || savingProfile"
            >
              {{ savingProfile ? 'Saving...' : 'Save Changes' }}
            </ion-button>
          </div>
          </form>
        </div>

        <div class="profile-grid__side">
          <div class="clinic-card profile-card consent-card" *ngIf="currentPatient">
            <div class="section-heading">Patient Consent</div>
            <ng-container *ngIf="hasConsented; else consentPending">
              <div class="consent-status">
                <div class="consent-status__badge">
                  <ion-icon name="lock-closed-outline" aria-hidden="true"></ion-icon>
                  <span>Submitted</span>
                </div>
                <div class="consent-status__content">
                  <p class="consent-status__title">Consent submitted</p>
                  <p class="consent-status__meta">
                    Version: {{ currentPatient.consentVersion || consentVersion }}
                  </p>
                  <p class="consent-status__meta">
                    Date: {{ currentPatient.consentedAt | date: 'medium' }}
                  </p>
                </div>
              </div>
            </ng-container>

            <ng-template #consentPending>
              <p class="consent-card__text">
                Please review and confirm your consent to continue using clinic services.
              </p>
              <label class="consent-checkbox">
                <input
                  type="checkbox"
                  [checked]="consentAcknowledged"
                  (change)="onConsentToggle($event)"
                />
                <span>I confirm that I consent to the clinic processing my patient information.</span>
              </label>
              <div class="profile-actions">
                <ion-button
                  type="button"
                  expand="block"
                  color="primary"
                  [disabled]="!consentAcknowledged || consentSubmitting"
                  (click)="submitConsent()"
                >
                  {{ consentSubmitting ? 'Submitting...' : 'Submit Consent' }}
                </ion-button>
              </div>
            </ng-template>
          </div>

          <form class="clinic-card profile-card" [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
            <div class="section-heading">Change Password</div>
            <div class="profile-grid__fields profile-grid__fields--single">
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Current Password</ion-label>
              <ion-input
                type="password"
                formControlName="currentPassword"
                name="currentPassword"
                autocomplete="current-password"
              ></ion-input>
            </ion-item>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">New Password</ion-label>
              <ion-input
                type="password"
                formControlName="newPassword"
                name="newPassword"
                autocomplete="new-password"
              ></ion-input>
            </ion-item>
            <div class="password-strength">
              <span
                *ngFor="let index of strengthIndexes"
                class="password-strength__bar"
                [class.is-active]="index < passwordStrength"
                [ngClass]="{
                  'password-strength__bar--weak': passwordStrength === 1,
                  'password-strength__bar--fair': passwordStrength === 2,
                  'password-strength__bar--good': passwordStrength === 3,
                  'password-strength__bar--strong': passwordStrength === 4
                }"
              ></span>
            </div>
            <p class="password-strength__label" *ngIf="strengthLabel">{{ strengthLabel }}</p>
            <ion-item class="clinic-input" lines="none">
              <ion-label position="stacked">Confirm Password</ion-label>
              <ion-input
                type="password"
                formControlName="confirmPassword"
                name="confirmPassword"
                autocomplete="new-password"
              ></ion-input>
            </ion-item>
            </div>

            <div class="form-error-message" *ngIf="passwordForm.touched && passwordForm.hasError('passwordMismatch')">
              Passwords do not match.
            </div>

            <div class="profile-actions">
              <ion-button type="submit" expand="block" color="primary" [disabled]="changingPassword">
                Update Password
              </ion-button>
            </div>
          </form>
        </div>
      </div>
    </section>
  