
    <ion-modal [isOpen]="isOpen" [attr.data-testid]="testIdPrefix + '-modal'" (didDismiss)="closed.emit()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Payment Receipt</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" [attr.data-testid]="testIdPrefix + '-toolbar-close-button'" (click)="closed.emit()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <app-receipt-view *ngIf="data" [data]="data"></app-receipt-view>
          <div class="modal-actions no-print" style="margin-top: var(--space-6);">
            <button class="btn-ghost" type="button" [attr.data-testid]="testIdPrefix + '-close-button'" (click)="closed.emit()">Close</button>
            <button class="btn-primary" type="button" [attr.data-testid]="testIdPrefix + '-print-button'" (click)="print()">
              <ion-icon name="print-outline"></ion-icon>
              Print Receipt
            </button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  