
    <div class="patient-edit-modal">
      <header class="patient-edit-modal__header">
        <div class="patient-edit-modal__title">
          <h3>Edit Patient</h3>
          <p>Update patient record details.</p>
        </div>
        <ion-button class="patient-edit-modal__close" fill="clear" type="button" [disabled]="isSaving" (click)="cancel()">
          <ion-icon slot="icon-only" [icon]="closeOutline"></ion-icon>
        </ion-button>
      </header>

      <ion-content class="patient-edit-modal__body" [scrollY]="true">
        <form class="patient-edit-modal__form" [formGroup]="form" novalidate (ngSubmit)="submit()">
          <section class="patient-edit-modal__section">
            <div class="section-heading">Personal Information</div>
            <div class="patient-edit-modal__grid">
              <div class="modal-field" [class.is-invalid]="showError('firstName')">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">First Name *</ion-label>
                  <ion-input formControlName="firstName" autocomplete="given-name" placeholder="First name"></ion-input>
                </ion-item>
                <small *ngIf="showError('firstName')">First name is required.</small>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Middle Name</ion-label>
                  <ion-input formControlName="middleName" autocomplete="additional-name" placeholder="Middle name"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field" [class.is-invalid]="showError('lastName')">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Last Name *</ion-label>
                  <ion-input formControlName="lastName" autocomplete="family-name" placeholder="Last name"></ion-input>
                </ion-item>
                <small *ngIf="showError('lastName')">Last name is required.</small>
              </div>

              <div class="modal-field" [class.is-invalid]="showError('dateOfBirth')">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Date of Birth *</ion-label>
                  <ion-input type="date" formControlName="dateOfBirth"></ion-input>
                </ion-item>
                <small *ngIf="showError('dateOfBirth')">Date of birth is required.</small>
              </div>

              <div class="modal-field" [class.is-invalid]="showError('sex')">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Sex *</ion-label>
                  <ion-select formControlName="sex" interface="popover" placeholder="Select sex">
                    <ion-select-option value="Male">Male</ion-select-option>
                    <ion-select-option value="Female">Female</ion-select-option>
                  </ion-select>
                </ion-item>
                <small *ngIf="showError('sex')">Sex is required.</small>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Civil Status</ion-label>
                  <ion-select formControlName="civilStatus" interface="popover" placeholder="Not specified">
                    <ion-select-option value="">Not specified</ion-select-option>
                    <ion-select-option *ngFor="let option of civilStatusOptions" [value]="option">{{ option }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
            </div>
          </section>

          <section class="patient-edit-modal__section">
            <div class="section-heading">Contact & Address</div>
            <div class="patient-edit-modal__grid">
              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Contact Number</ion-label>
                  <ion-input formControlName="contactNumber" autocomplete="tel" placeholder="Contact number"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="email" formControlName="email" autocomplete="email" placeholder="Email"></ion-input>
                </ion-item>
                <small *ngIf="showEmailError()">{{ emailErrorMessage }}</small>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Zip Code</ion-label>
                  <ion-input formControlName="zipCode" autocomplete="postal-code" placeholder="Zip code"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field modal-field--full">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Address</ion-label>
                  <ion-input formControlName="address" autocomplete="street-address" placeholder="Address"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">City</ion-label>
                  <ion-input formControlName="city" autocomplete="address-level2" placeholder="City"></ion-input>
                </ion-item>
              </div>
            </div>
          </section>

          <section class="patient-edit-modal__section patient-account-panel">
            <div class="section-heading">Login Account</div>

            <div class="patient-account-status" *ngIf="patient?.userId; else accountCreationFlow">
              <app-status-badge status="LinkedAccount"></app-status-badge>
              <p>This patient already has a linked login account.</p>
              <p class="data-mono">User ID: {{ patient?.userId }}</p>
            </div>

            <ng-template #accountCreationFlow>
              <div class="patient-account-status" *ngIf="pendingAccountUserId">
                <app-status-badge status="LinkedAccount"></app-status-badge>
                <p>Login account created. Save the patient profile to finish linking it.</p>
                <p class="data-mono">User ID: {{ pendingAccountUserId }}</p>
              </div>

              <ng-container *ngIf="!pendingAccountUserId">
                <div class="patient-account-toggle">
                  <ion-checkbox formControlName="linkAccount" (ionChange)="onLinkAccountToggle()"></ion-checkbox>
                  <div>
                    <strong>Add login account for this patient</strong>
                    <p>The email above will be used for the login account.</p>
                  </div>
                </div>

                <p class="patient-account-note" *ngIf="accountFieldsVisible">
                  The email above will be used for the login account.
                </p>

                <div *ngIf="accountFieldsVisible" class="patient-edit-modal__grid patient-edit-modal__grid--account">
                  <div class="modal-field" [class.is-invalid]="showError('accountPassword')">
                    <ion-item class="clinic-input" lines="none">
                      <ion-label position="stacked">Password *</ion-label>
                      <ion-input
                        type="password"
                        formControlName="accountPassword"
                        autocomplete="new-password"
                        placeholder="Create a strong password"
                      ></ion-input>
                    </ion-item>
                    <small *ngIf="showError('accountPassword')">Password is required and must be strong enough.</small>
                  </div>

                  <div class="modal-field">
                    <ion-item class="clinic-input" lines="none">
                      <ion-label position="stacked">Avatar URL</ion-label>
                      <ion-input formControlName="accountAvatarUrl" placeholder="Optional avatar URL"></ion-input>
                    </ion-item>
                  </div>
                </div>
              </ng-container>
            </ng-template>
          </section>

          <section class="patient-edit-modal__section">
            <div class="section-heading">Emergency Contact</div>
            <div class="patient-edit-modal__grid">
              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Emergency Contact Name</ion-label>
                  <ion-input formControlName="emergencyContactName" placeholder="Name"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Emergency Contact Number</ion-label>
                  <ion-input formControlName="emergencyContactNumber" placeholder="Contact number"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Relationship</ion-label>
                  <ion-input formControlName="emergencyContactRelationship" placeholder="Relationship"></ion-input>
                </ion-item>
              </div>
            </div>
          </section>

          <section class="patient-edit-modal__section">
            <div class="section-heading">Insurance</div>
            <div class="patient-edit-modal__grid">
              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">Blood Type</ion-label>
                  <ion-select formControlName="bloodType" interface="popover" placeholder="Not specified">
                    <ion-select-option value="">Not specified</ion-select-option>
                    <ion-select-option *ngFor="let option of bloodTypeOptions" [value]="option">{{ option }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">PhilHealth Number</ion-label>
                  <ion-input formControlName="philHealthNumber" placeholder="PhilHealth number"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">HMO Provider</ion-label>
                  <ion-input formControlName="hmoProvider" placeholder="HMO provider"></ion-input>
                </ion-item>
              </div>

              <div class="modal-field modal-field--full">
                <ion-item class="clinic-input" lines="none">
                  <ion-label position="stacked">HMO Card Number</ion-label>
                  <ion-input formControlName="hmoCardNumber" placeholder="HMO card number"></ion-input>
                </ion-item>
              </div>
            </div>
          </section>
        </form>
      </ion-content>

      <footer class="patient-edit-modal__footer">
        <ion-button fill="outline" type="button" [disabled]="isSaving" (click)="cancel()">Cancel</ion-button>
        <ion-button type="button" [disabled]="isSaving || form.invalid" (click)="submit()">
          {{ isSaving ? 'Saving...' : 'Save Changes' }}
        </ion-button>
      </footer>
    </div>
  