
    <div class="summary-bar" *ngIf="(currentStep$ | async)! >= 2">
      <ng-container *ngIf="summary$ | async as summary">
        <div class="summary-bar__items">
          <div class="summary-bar__item" *ngIf="summary.doctorName">
            <span class="summary-bar__label">Doctor</span>
            <span class="summary-bar__value">{{ summary.doctorName }}</span>
          </div>
          <div class="summary-bar__divider" *ngIf="summary.doctorName && summary.servicesLabel"></div>
          <div class="summary-bar__item" *ngIf="summary.servicesLabel">
            <span class="summary-bar__label">Services</span>
            <span class="summary-bar__value">{{ summary.servicesLabel }}</span>
          </div>
          <div class="summary-bar__divider" *ngIf="summary.servicesLabel && summary.selectedDate"></div>
          <div class="summary-bar__item" *ngIf="summary.selectedDate">
            <span class="summary-bar__label">Date</span>
            <span class="summary-bar__value">{{ summary.selectedDate | date : 'MMM d' }}</span>
          </div>
          <div class="summary-bar__divider" *ngIf="summary.selectedDate && summary.selectedSlot"></div>
          <div class="summary-bar__item" *ngIf="summary.selectedSlot">
            <span class="summary-bar__label">Time</span>
            <span class="summary-bar__value data-mono"
              >{{ summary.selectedSlot | timeSlot }} - {{ summary.selectedSlotEnd | timeSlot }}</span
            >
          </div>
        </div>
      </ng-container>
    </div>
  